# core runtime
python-dotenv==1.1.1
requests==2.32.4
pandas==2.3.0
# UI
gradio==5.34.2               
# LangGraph & LangChain split packages
langgraph==0.5.0
langchain-core==0.3.66
langchain-community==0.3.26
langchain-openai==0.3.26      
langchain-tavily==0.2.4
wikipedia==1.4.0
duckduckgo_search==8.0.4
youtube-search==2.1.2
arxiv==2.2.0